@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 30; }
}

@keyframes blink{
    to{opacity: .0;}
}

::selection{
    background: black;
}

@import "compass/css3";

.talos_character_xs {
    height: 800px;
}

.bodytalos_xs, .headtalos_xs, .eyestalos_xs, .leftarmtalos_xs, .rightarmtalos_xs, .chairtalos_xs, .leftshoetalos_xs, .rightshoetalos_xs, .legstalos_xs, .laptoptalos_xs {
    background: url('../img/talos-guy.png') 0 0 no-repeat;
    width: 200px;
    height: 200px;
// border: 1px dotted red;
}

.newcharactertalos_xs, .torsotalos_xs, .bodytalos_xs, .headtalos_xs, .eyestalos_xs, .leftarmtalos_xs, .rightarmtalos_xs, .chairtalos_xs, .leftshoetalos_xs, .rightshoetalos_xs, .legstalos_xs, .laptoptalos_xs {
    background-size: 200px;
    position: absolute;
    display: block;
}

.newcharactertalos_xs {
    width: 400px;
    height: 800px;
    left: 54%;
    top: 520px;
    margin-left: -200px;
}

$swayspeed: 20s;

.torsotalos_xs {
    position: absolute;
    display: block;
    top: 138px;
    left: 0px;
    width: 289px;
    height: 152px;
    animation: sway_xs $swayspeed ease infinite;
    transform-origin: 20% 100%;
}

.bodytalos_xs {
    position: absolute;
    display: block;
    top: -102px;
    left: 146px;
    width: 105px;
    height: 70px;
}

.headtalos_xs {
    position: absolute;
    top: -142px;
    left: 172px;
    width: 40px;
    height: 53px;
    background-position: 1px -70px;
    transform-origin: 50% 85%;
    animation: headTilt_xs $swayspeed ease infinite;
}

.eyestalos_xs {
    position: absolute;
    top: 27px;
    left: 7px;
    width: 25px;
    height: 18px;
    background-position: -40px -93px;
    animation: blinktalos_xs 10s steps(1) infinite, pan_xs 10s ease-in-out infinite;
}

.leftarmtalos_xs {
    position: absolute;
    top: -62px;
    left: 143px;
    width: 47px;
    height: 25px;
    background-position: -69px -90px;
    transform-origin: 9% 35%;
    transform: rotateZ(0deg);
    animation: typeLeft_xs 0.4s linear infinite;
}

.rightarmtalos_xs {
    position: absolute;
    top: -62px;
    left: 205px;
    width: 47px;
    height: 25px;
    background-position: -116px -86px;
    transform-origin: 90% 25%;
    animation: typeLeft_xs 0.4s linear infinite;
}

.chairtalos_xs {
    position: absolute;
    top: -10px;
    left: 158px;
    width: 75px;
    height: 100px;
    background-position: 0px -185px;
}

.legstalos_xs {
    position: absolute;
    top: -30px;
    left: 145px;
    width: 110px;
    height: 75px;
    background-position: -100px -115px;
}

.leftshoetalos_xs {
    position: absolute;
    top: 27px;
    left: 152px;
    width: 40px;
    height: 35px;
    background-position: -83px -195px;
}

.rightshoetalos_xs {
    position: absolute;
    top: 26px;
    left: 197px;
    width: 50px;
    height: 50px;
    background-position: -118px -195px;
    transform-origin: 35% 12%;
    animation: tapRight_xs 1s linear infinite;
}

.laptoptalos_xs {
    position: absolute;
    top: -57px;
    left: 146px;
    width: 100px;
    height: 60px;
    background-position: 0px -123px;
    transform-origin: 50% 100%;
    animation: tabWobble_xs 0.4s linear infinite;
}

@keyframes sway_xs {
    0%   { transform: rotateZ(0deg); }
    20%  { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(4deg); }
    45%  { transform: rotateZ(4deg); }
    50%  { transform: rotateZ(0deg); }
    70%  { transform: rotateZ(0deg); }
    75%  { transform: rotateZ(-4deg); }
    90%  { transform: rotateZ(-4deg); }
    100% { transform: rotateZ(0deg); }
}

@keyframes headTilt_xs {
    0%   { transform: rotateZ(0deg); }
    20%  { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(-4deg); }
    35%  { transform: rotateZ(-4deg); }
    38%  { transform: rotateZ(2deg); }
    42%  { transform: rotateZ(2deg); }
    45%  { transform: rotateZ(-4deg); }
    50%  { transform: rotateZ(0deg); }
    70%  { transform: rotateZ(0deg); }
    82%  { transform: rotateZ(0deg); }
    85%  { transform: rotateZ(4deg); }
    90%  { transform: rotateZ(4deg); }
    100% { transform: rotateZ(0deg); }
}

@keyframes typeLeft_xs {
    0%   { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(7deg); }
    75%  { transform: rotateZ(-6deg); }
    100% { transform: rotateZ(0deg); }
}

@keyframes typeRight_xs {
    0%   { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(-6deg); }
    75%  { transform: rotateZ(7deg); }
    100% { transform: rotateZ(0deg); }
}

@keyframes tabWobble_xs {
    0%   { transform: rotateZ(-0.2deg); }
    50%  { transform: rotateZ(0.2deg); }
    100% { transform: rotateZ(-0.2deg); }
}

@keyframes tapRight_xs {
    0%   { transform: rotateZ(0deg); }
    90%  { transform: rotateZ(-6deg); }
    100% { transform: rotateZ(0deg); }
}

@keyframes blinktalos_xs {
    0%   { background-position: -40px -93px; }
    94%  { background-position: -40px -93px; }
    98%  { background-position: -40px -100px; }
    100% { background-position: -40px -93px; }
}

@keyframes pan_xs {
    0%   { transform: translateX(0px); }
    49%   { transform: translateX(0px); }
    50%  { transform: translateX(2px); }
    99%  { transform: translateX(2px); }
    100% { transform: translateX(0px); }
}
