.wrapper {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}

.ribbon-wrapper {
    width: 385px;
    height: 288px;
    overflow: hidden;
    position: absolute;
    top: -50px;
    right: -150px;
}

.ribbon-talos {
    font: bold 15px Sans-Serif;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 115px;
    width: 320px;
    background-color: #121212;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #C37811, #f29614);
    background-image:    -moz-linear-gradient(top, #C37811, #f29614);
    background-image:     -ms-linear-gradient(top, #C37811, #f29614);
    background-image:      -o-linear-gradient(top, #C37811, #f29614);
    color: #121212;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}